<div class="container">
 <h1> <%= @survey.name %></h1>
 <form action="/submit_survey" method="POST" >
 <ol>
 <% @survey.questions.each do |question| %>
 <li><%= question.content %></li>
    <ul>
      <% question.choices.each do |y| %>
      <li><input type="radio" name="<%= question.id %>" value="<%= y.answer %>"><%= y.answer %></input></li>
      <% end %>
    </ul>
 <% end %>
</ol>
<input type="submit" />
</form>
</div>
