<div class="container">
 <h1> <%= @survey.name %></h1>
 <div id="content">
 <form action="/submit_survey" method="POST"  >

 <ol>
 <% @survey.questions.each do |question| %>
 <li><%= question.content %></li>
    <ul>
      <% question.choices.each do |y| %>
      <li><input type="radio" name="<%= question.id %>" value="<%= y.answer %>"><%= y.answer %></li>
      <% end %>
    </ul>
 <% end %>
</ol>
<input class= "submit" type="submit" />
<div style="clear:both">
  </div>
</form>
</div>
</div>

